.cert {
    width: 660px;
    height: 500px;
    outline: 4px solid #f2f2f2;
    outline-offset: 8px;
}

.cont {
    display: flex;
    margin-left: 10%;
    align-items: center;
    gap: 2rem;
}

p {
    font-size: 32px;
}

.text {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

.nav {
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 15px;
  }

@media screen and (max-width: 1224px) {
    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 0;
    }

    .cert {
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
    }

    p {
        font-size: 24px;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }

    .header-container {
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 30000px){
    #aside {
        height: 50px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        padding: 10px;
    }

    #aside aside {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #aside .navigation {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #aside .nav {
        flex: 1;
    }

    .nav {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 5px 15px;
        box-sizing: border-box;
        margin-top: 0;
    }
}