.hometxt, .about {
    font-family: 'Raleway';
    font-size: 16px;
    color: #c7c7c7;
    margin: 0px 10px 10px 230px;
}

.card {
    position: relative;
    background-color: #07060a;
    color: white;
    width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.card h1 {
    font-size: 25px;
    margin: 0 0 10px;
}

.card p {
    font-size: 16px;
    margin: 0;
    color: #c7c7c7;
}

.card:hover {
    cursor: pointer;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@property --opacity {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

.card::after, .card::before {
    content: '';
    position: absolute; 
    height: 100%;
    width: 100%;
    top: -7px;
    left: -7px;
    z-index: -1;
    padding: 7px;
    border-radius: 11px;
    animation: 3s spin linear infinite, 0.25s spinFadeOut linear 1 forwards;
    --opacity: 0;
}

.card.num1::after, .card.num1::before {
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(255, 0, 0, var(--opacity)));
}

.card.num2::after, .card.num2::before {
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(0, 255, 0, var(--opacity)));
}

.card.num3::after, .card.num3::before {
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(0, 0, 255, var(--opacity)));
}

.card.num4::after, .card.num4::before {
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(255, 255, 255, var(--opacity)));
}

.num1:hover::after, .num1:hover::before {
    animation: 3s spin linear infinite,  0.25s spinFadeIn linear 1 forwards;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(255, 0, 0, var(--opacity)));
}

.num2:hover::after, .num2:hover::before {
    animation: 3s spin linear infinite, 0.25s spinFadeIn linear 1 forwards;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(0, 255, 0, var(--opacity)));
}

.num3:hover::after, .num3:hover::before {
    animation: 3s spin linear infinite, 0.25s spinFadeIn linear 1 forwards;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(0, 0, 255, var(--opacity)));
}

.num4:hover::after, .num4:hover::before {
    animation: 3s spin linear infinite, 0.25s spinFadeIn linear 1 forwards;
    background-image: conic-gradient(from var(--angle), transparent 50%, rgba(255, 255, 255, var(--opacity)));
}

.card::before {
    filter: blur(1.5rem);
}

.container {
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    animation: slideInLeft 1s forwards;
}

.right-column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 14%;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

@keyframes spinFadeIn {
    from {
        --opacity: 0;
    }

    to {
        --opacity: 1;
    }
}

@keyframes spinFadeOut {
    from {
        --opacity: 1;
    }

    to {
        --opacity: 0;
    }
}

/* animating the left column */

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideIn {
    animation: slideInLeft 1s ease 0s 1 normal forwards;
    animation-delay: 0.5s;
}

/* mobile optimization */

@media screen and (max-width: 1124px) {
    .about, .hometxt {
        margin-left: 30px;
    }

    
}

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .right-column {
        margin: 0 auto;
    }

    .card {
        justify-content: center;
        align-items: center;
    }

}